
.main-color {
  background-color: #4169E1;
}

.show-comments-button {
  background-color: white;
  color: #4169E1;
  border-color: #385cc5;
}

.show-comments-button:hover {
  background-color: #4169E1;
  color: white;
  border-color: #4169E1;
}

.hide-comments-button {
  background-color: #4169E1;
  color: white;
  border-color: #4169E1;
}

.hide-comments-button:hover {
  background-color: white;
  color: #4169E1;
  border-color: #385cc5;
}

.add-comment-button {
  background-color: white;
  color: #f0ad4e;
  border-color: #f0ad4e;
}

.add-comment-button:hover {
  background-color: #f0ad4e;
  color: white;
  border-color: #f0ad4e;
}

.interesting-button {
  background: none;
  border: none;
  color: #f0ad4e;  /* golden star */
  font-size: 1.2rem;
}

.interesting-button:hover {
  color: #d58512;
  cursor: pointer;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;  /* Tooltip hidden by default */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 100%; /* above the button */
  left: -10rem;
  transform: none;
  white-space: nowrap;  /* content all in one line */
  font-size: 0.75rem;
}

/* Show tooltip on mouseover */
.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
}

.delete-post-btn:hover, .delete-comment-btn:hover {
  background-color: #dc3545; /* same color as Bootstrap danger */
  color: white;
}

.edit-comment-btn:hover {
  background-color: #ffc107; /* same color as Bootstrap warning */
  color: white;
}