
.main-color {
  background-color: #4169E1;
}

.add-post-button:hover {
  background-color: #3a60d3;
}

.show-comments-button, .submit-post-button, .submit-comment-button {
  background-color: white;
  color: #4169E1;
  border-color: #385cc5;
}

.show-comments-button:hover, .submit-post-button:hover, .submit-comment-button:hover {
  background-color: #4169E1;
  color: white;
  border-color: #4169E1;
}

.hide-comments-button {
  background-color: #4169E1;
  color: white;
  border-color: #4169E1;
}

.hide-comments-button:hover {
  background-color: white;
  color: #4169E1;
  border-color: #385cc5;
}

.add-comment-button {
  background-color: white;
  color: #f0ad4e;
  border-color: #f0ad4e;
}

.add-comment-button:hover {
  background-color: #f0ad4e;
  color: white;
  border-color: #f0ad4e;
}

.add-comment-button:disabled {
  background-color: #f0ad4e;
  color: white;
  border-color: #f0ad4e;
  opacity: 0.8;
}

/* Set the properties when the user presses the button */
.add-comment-button:active {
  background-color: #f0ad4e !important;
  color: white !important;
  border-color: #cf923d !important;
}

.interesting-button {
  background: none;
  border: none;
  color: #f0ad4e;  /* golden star */
  font-size: 1.2rem;
}

.interesting-button:hover {
  color: #d58512;
  cursor: pointer;
}

.edit-comment-btn:active {
  color: #ffc107 !important;   /* same color as Bootstrap warning */
}

.edit-comment-btn:active i {
  color: white !important;
}

.tooltip-wrapper {
  position: relative;    /* needed to position the tooltip absolutely inside the container */
  display: inline-block;  /* ensures the wrapper only takes up as much space as the button needs */
}

.tooltip-text-star-button {
  visibility: hidden;  /* tooltip hidden by default */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 94%;  /* above the button */
  left: -10rem;
  transform: none;
  white-space: nowrap;  /* content all in one line */
  font-size: 0.75rem;
}

/* Show tooltip on mouseover */
.tooltip-wrapper:hover .tooltip-text-star-button {
  visibility: visible;
}

.tooltip-text-add-comment-button {
  visibility: hidden;  /* tooltip hidden by default */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 108%;  /* above the button */
  left: 1rem;
  transform: none;
  white-space: nowrap;  /* content all in one line */
  font-size: 0.75rem;
}

.tooltip-wrapper:hover .tooltip-text-add-comment-button {
  visibility: visible;
}

.delete-post-btn:hover, .delete-comment-btn:hover {
  background-color: #dc3545; /* same color as Bootstrap danger */
  color: white;
}

.edit-comment-btn:hover {
  background-color: #ffc107; /* same color as Bootstrap warning */
  color: white;
}

/* Correctly handle '\n' characters and word-break in post and comment texts */
.multiline-text {
  white-space: pre-wrap !important;     /* tell the browser to respect newline characters (otherwise ignored) */
  word-break: break-word !important;    /* break too long words */
  overflow-wrap: break-word !important; /* fallback */
}

.limited-width-text {
  max-width: 70%;
}